$primary-color: #8aba68;

.form-control{
    border: none;
    border-bottom: 1px solid $primary-color;
    border-radius:0;
    box-shadow: none; 
    &:focus{
        box-shadow: none;
        border-color: darken( $primary-color, 20% );
    }
}
.btn{
    &.btn-primary{
        background: $primary-color;
        border-color: $primary-color;
    }
}