<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="./assets/images/surbo_logo.gif"></a>
      </div>

      <ul class="nav navbar-nav navbar-right" id="main-menu">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Ausan SIngh</a>
          <ul class="submenu">
              <li> <a href="/bots/"><i class="fa fa-tachometer" aria-hidden="true"></i> All Bots</a> </li>
              <li><a href="/edit-profile/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a></li>
              <li><a href="/accounts/password/change/"><i class="fa fa-lock" aria-hidden="true"></i> Change Password</a></li>
              <li><a href="/accounts/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>